@import "~@ba-ui-toolkit/essentials/_essentials.scss";
.header {
    color: $white;
    background: $primary1;
    &--wrapper{
        max-width:1280px;
        margin:0 auto;
    }
    &--bar{
        background: $primary3;
        h1{
            max-width: 1280px;
            margin:0 auto;
            font-size: $heading-size-s;
            padding:0.5rem 0;
            font-weight: bold;
        }
    }
    &--control{
        padding: 2rem 0;
        display:flex;
        align-items: left;
        justify-content: space-between;
        &_section {
            p{
                font-size: 0.857rem;
                margin-bottom:0.5rem;
                
            }
            p.header--control_data{
                font-size: 2.857rem;
                font-weight: 200;
            }
        }
        
    }
}