@import "~@ba-ui-toolkit/essentials/_essentials.scss";
.header {
    color: $white;
    background: $primary1;
    &--wrapper{
        max-width:1280px;
        margin:0 auto;
    }
    &--bar{
        background: $primary3;
        h1{
            max-width: 1280px;
            margin:0 auto;
            font-size: $heading-size-s;
            padding:$space-xs 0;
            font-weight: bold;
        }
    }
    &--control{
        padding: $space-l 0;
        display:flex;
        align-items: left;
        justify-content: space-between;
        &_section {
            p{
                font-size: $body-size-s;
                margin-bottom:$space-xs;
                
            }
            p.header--control_data{
                font-size: $heading-size-l;
                font-weight: 200;
            }
        }
        
    }
}