@import "~@ba-ui-toolkit/essentials/_essentials.scss";
.stats {
    background: rgba(255,255,255,0.13);
    padding: 1rem $space-s;
    display:flex;
    justify-content: space-between;
    &--section{
        &_header{
            font-size:$body-size-s;
            margin-bottom:$space-xs;
        }
        &_status{
            font-size:$heading-size-s;
        }
    }
}