@import "~@ba-ui-toolkit/essentials/_essentials.scss";
.servers {
    width:100%;
    &--header{
        color: $gray5;
        border-bottom: 1px solid;
        font-family: $font-family-bold;
        font-size: $body-size-s;
        
        th{
            padding: $space-xs 0 $space-xs $space-s;
            text-align: left;
        }
    }
    &--row{
        border-bottom:1px solid $gray2;
    }
    &--cell{
        padding: $space-xs 0 $space-xs $space-s;
        &_bold{
            font-weight:bold;
        }
        &_wide{
            width: 30%;
        }
        &_narrow{
            width: 5%;
        }
    }
}