//fonts
$font-family-sans-serif:  "Helvetica Neue for IBM", Arial, Garuda, sans-serif !default;


//colors
$color-text-primary: #0E2F46;
$color-text-primary-accent: #1F1F1F;
$color-text-secondary-accent: #ffffff;
$color-primary-accent: #0E2F46;
$color-secondary-accent: #157DC3;

$color-warning: #D52727;