//fonts
$font-family-sans-serif:  "Helvetica Neue for IBM", Arial, Garuda, sans-serif !default;


//colors
$color-text-primary: #0E2F46;
$color-text-primary-accent: #1F1F1F;
$color-text-secondary-accent: #ffffff;
$color-primary-accent: $color-text-primary;
$color-secondary-accent: #157DC3;

$color-warning: #D52727;

//sizes
$content-width: 1280px;
$content-side-padding: 2rem;