@import 'reset';
@import "~@ba-ui-toolkit/essentials/_essentials.scss";

html {
    font-family: $font-family-regular;
    line-height: size(3);
    color: color("blue", 90);
}

.container {
    margin:0 auto;
}