@import 'variables';
@import 'reset';
@import 'components/Header/stats.scss';
@import 'components/Header/header.scss';
@import 'components/Servers/servers.scss';
@import 'components/content.scss';

/*
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('assets/fonts/fonts/medium/helvetica-neue-medium.eot?') format('eot'), url('assets/fonts/fonts/medium/helvetica-neue-medium.woff2') format('woff2'), url('assets/fonts/fonts/medium/helvetica-neue-medium.woff') format('woff'), url('assets/fonts/fonts/medium/helvetica-neue-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('assets/fonts/fonts/medium-italic/helvetica-neue-medium-italic.eot?') format('eot'), url('assets/fonts/fonts/medium-italic/helvetica-neue-medium-italic.woff2') format('woff2'), url('assets/fonts/fonts/medium-italic/helvetica-neue-medium-italic.woff') format('woff'), url('assets/fonts/fonts/medium-italic/helvetica-neue-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('assets/fonts/fonts/bold/helvetica-neue-bold.eot?') format('eot'), url('assets/fonts/fonts/bold/helvetica-neue-bold.woff2') format('woff2'), url('assets/fonts/fonts/bold/helvetica-neue-bold.woff') format('woff'), url('assets/fonts/fonts/bold/helvetica-neue-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('assets/fonts/fonts/bold-italic/helvetica-neue-bold-italic.eot?') format('eot'), url('assets/fonts/fonts/bold-italic/helvetica-neue-bold-italic.woff2') format('woff2'), url('assets/fonts/fonts/bold-italic/helvetica-neue-bold-italic.woff') format('woff'), url('assets/fonts/fonts/bold-italic/helvetica-neue-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
*/
html {
    font: 14px $font-family-sans-serif;
    color: $color-text-primary;
}

.container {
    margin:0 auto;
}